remote_theme: mmistakes/minimal-mistakes
# theme: jekyll-theme-minimal

locale: es
plugins:
    - jekyll-feed
    - jekyll-redirect-from
    - jekyll-seo-tag
    - jekyll-sitemap
    - jekyll-avatar
    - jemoji
    - jekyll-mentions
    - jekyll-include-cache

paginate: 10
paginate_path: /page:num/

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
      tags: true
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true

author:
  name   : "Héctor Patricio"
  avatar : "/assets/images/me.jpg"
  bio    : "Developer"
  uri    : "https://github.com/hectorip"
  github : "https://github.com/hectorip-til"
  # home   : # null (default), "absolute or relative url to link to author home"

analytics:
  provider: "google-gtag"
  google:
    tracking_id: "UA-53624335-5"
    anonymize_ip: false # default

comments:
  provider: "disqus"
  disqus:
    shortname: "hectorips-til"

jekyll_compose:
  draft_default_front_matter:
    description: "Escribe aquí la descripción"
  # post_default_front_matter:
  #   description:
  #   image:
  #   category:
  #   tags:
  #   published: false
  #   sitemap: false

include: ["_pages"]